body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

main {
    padding-top: 20px;
}

main h1 {
    text-align: center;
    color: #4a90e2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #140925;
    max-width: 600px;
    display: grid;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

main p {
    font-family: "Abril Fatface", sans-serif;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 15px;
    display: grid;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 8px;
}

.stars label {
    display: inline-block;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}




input[type="submit"] {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #357abf;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    background-color: #140925;
    max-width: 600px;
    display: grid;
    place-items: center;
    height: 100px;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}