@media (min-width: 768px) {
    body {
        font-size: 1.1rem;
    }

    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        width: 100%;
    }

    main {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .hero {
        position: relative;
        width: 100%;

    }

    .hero-image {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .temple-label {
        position: absolute;
        top: 300px;
        left: 20px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 8px 16px;
        font-size: 1rem;
        white-space: nowrap;
        border-radius: 4px;
        z-index: 10;
    }

    .map {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 30px 0;
    }

    .map iframe {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        height: auto;
        display: block;
    }

    main h1 {
        text-align: center;
    }

    .card {
        padding: 30px;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        font-size: 1.5rem;
    }
}